<template>
    <div id="app">
        <game></game>
    </div>
</template>

<script>
import Game from "./views/Game.vue";

export default {
    name: "App",
    components: {
        Game,
    }
};
</script>

<style>
    
</style>