<template>
    <div class="game-page">
        <button
            @click="newGame"
            >New Game</button>
        <board></board>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { START_NEW_GAME } from '../store/actions.type';

import Board from '../components/Board.vue'

export default {
    components: {
        Board,
    },
    mounted() {
        this.newGame();
    },
    methods: {
        newGame() {
            this.$store.dispatch(START_NEW_GAME);
        }
    },
    computed: {
        ...mapGetters(['isLoading', 'isEnd']),
        tag() {
            return this.$route.params.tag;
        }
    }
};
</script>

<style>
.game-page {
    display: grid;
    grid-template-rows: 2rem 1fr;
    height: 100vh;
}
</style>