<style scoped>
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px #AAA;
    border-style: outset;
    background: #E0E0E0;
    font-family: sans-serif;
    font-size: 3rem;
}

.free {
    border-style: inset;
    background: white;
}

.mine {
    background: #E55;
    border-style: inset;
}

.mine {
    background: red;
    color: black;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.tree {
    color: red;
}

.four {
    color: purple;
}

.five {
    color: maroon;
}

.six {
    color: turquoise;
}

.seven {
    color: black;
}

.eight {
    color: grey;
}

</style>

<template>
    <div class="block" :class="className">
        {{ block.value }}
    </div>
</template>

<script>
import { GAME_BLOCK } from '../common/config';

export default {
    name: "Block",
    props: {
        flag: {
            type: Boolean,
            required: false,  
        },
        block: {
            type: Object,
            required: false,  
        },
    },
    computed: {
        className() {
            return ({
                [GAME_BLOCK.FREE]: 'free',
                [GAME_BLOCK.MINE]: 'mine',
                [GAME_BLOCK.ONE]: 'one',
                [GAME_BLOCK.TWO]: 'two',
                [GAME_BLOCK.TREE]: 'tree',
                [GAME_BLOCK.FOUR]: 'four',
                [GAME_BLOCK.FIVE]: 'five',
                [GAME_BLOCK.SIX]: 'six',
                [GAME_BLOCK.SEVEN]: 'seven',
                [GAME_BLOCK.EIGHT]: 'eight',
                [undefined]: '',
            })[this.block.value];
        }
    },
};
</script>