<style scoped>
.board-grid {
    position: relative;
    height: 100%;
    padding: 1rem;
    display: grid;
    box-sizing: border-box;
    /* Before in react
    grid-template-columns: ${props => createGridTemplateColumns(props.width)};
    grid-template-rows: ${props => createGridTemplateColumns(props.height)}; */
}
</style>

<template>
    <div class="board-grid" v-bind:style="{
            'grid-template-columns': gridTemplateColumns,
            'grid-template-rows': gridTemplateRows,
            }">
        <Block
            v-for="(block, index) in blocks"
            v-on:click.native="revealBlock(block)"
            :block="block"
            :flag="block.flag">
        </Block>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Block from './Block.vue';
import { REVEAL_BLOCK } from '../store/actions.type';
import { GAME_DEFAULT_HEIGHT, GAME_DEFAULT_WIDTH } from '../common/config';

export default {
    name: 'Board',
    components: {
        Block,
    },
    data() {
        return {
            width: GAME_DEFAULT_WIDTH,
            height: GAME_DEFAULT_HEIGHT,
        }
    },
    computed: {
        ...mapGetters(['blocks']),
        gridTemplateColumns() {
            return `repeat(${GAME_DEFAULT_WIDTH}, 1fr)`;
        },
        gridTemplateRows() {
            return `repeat(${GAME_DEFAULT_HEIGHT}, 1fr)`;
        },
    },
    methods: {
        revealBlock({ value, x, y }) {
            if (value !== null) return;
            this.$store.dispatch(REVEAL_BLOCK, { x, y });
        },
        flagBlock(block) {
            console.log(block);
            block.flag = true;
        }
    }
};
</script>